[submodule "cpp-ripemd160"]
	path = cpp-ripemd160
	url = https://github.com/miguelmota/cpp-ripemd160
[submodule "libbase58"]
	path = libbase58
	url = https://github.com/bitcoin/libbase58.git
[submodule "sha-2"]
	path = sha-2
	url = https://github.com/amosnier/sha-2.git
[submodule "bech32"]
	path = bech32
	url = https://github.com/sipa/bech32.git
[submodule "hmac-cpp"]
	path = hmac-cpp
	url = https://github.com/NewYaroslav/hmac-cpp.git
[submodule "sha"]
	path = sha
	url = https://github.com/alvxck/sha.git
[submodule "Bitcoin-Cryptography-Library"]
	path = Bitcoin-Cryptography-Library
	url = https://github.com/nayuki/Bitcoin-Cryptography-Library.git
